<!--<span class="spacer"></span>-->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <!--    <mat-card-title>New Post</mat-card-title>-->
    <!--    <mat-card-subtitle>Create a new post by filling out below fields!</mat-card-subtitle>-->
    <mat-form-field>
      <label>
        <input
          matInput
          placeholder="Post Title"
          type="text"
          formControlName="title"
        >
      </label>
      <!--        TO show error i.e validation-->
      <mat-error *ngIf="form.get('title').invalid && form.dirty">Title with min length 3 is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-hint>Maximum 500 characters allowed.</mat-hint>
      <label>
        <textarea
          placeholder="Post content"
          matInput rows="4"
          minlength="10"
          maxlength="500"
          formControlName="content"
        ></textarea>
      </label>
      <!--        TO show error i.e validation-->
      <mat-error *ngIf="form.get('content').invalid">Minimum 10 characters are required</mat-error>
    </mat-form-field>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Add Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
      <!--      <span class="spacer"></span>-->
      <button
        mat-raised-button
        color="primary"
        type="submit">Save Post
      </button>
    </div>

  </form>
</mat-card>
