:host {
  display: block;
  margin-top: 16px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin: 20px 0 20px 20px;
}

.post-image {
  width: 100%;
}

.post-image img {
  max-width: 40%;
  max-height: 40%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
